@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}
:root {
  --header-height: 4rem;
  --borda: rgba(16, 22, 41, 0.5);

  /* Colors */
  --body-color: #f1f2f6;
  --confirm-color: #38dc96;
  --text-color: #282525;

  /* Fonts */
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 1.25rem;
  --h2-font-size: 1rem;
  --h3-font-size: 0.75rem;
  --big-x-font-size: 2rem;
  --big-font-size: 1.5rem;
  --big-font-size: 1.5rem;
  --normal-font-size: 0.9375rem;
  --small-font-size: 0.8125rem;
  --smaller-font-size: 0.75rem;

  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /* Margem */
  --mb-4: 0.25rem;
  --mb-8: 0.5rem;
  --mb-12: 0.75rem;
  --mb-16: 1rem;
  --mb-24: 1.5rem;
  --mb-32: 2rem;
  --mb-40: 2.5rem;

  /* z index */
  --z-fixed: 100;
}
/* END ROOT */

/* RESET */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}
body {
  background-color: var(--body-color);
  color: var(--text-color);
  margin-bottom: 4rem;
}

h1,
h2,
h3,
h4 {
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
img {
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
}
/* END RESET */

/* REUSABLE CLASSES */
.container {
  max-width: 968px;
  margin-left: var(--mb-24);
  margin-right: var(--mb-24);
}
.grid {
  display: grid;
}
section {
  padding: 20% 0 1rem;
}
h1,
.h1 {
  font-size: var(--big-x-font-size);
}
h2,
.h2 {
  font-size: var(--h2-font-size);
}
/* END REUSABLE */

/* BUTTONS */
.button-login {
  display: flex;
  justify-content: center;
  background-color: var(--confirm-color);
  color: var(--text-color);
  font-weight: var(--font-medium);
  border-radius: 0.75rem;
  padding: 0.375rem;
  margin-top: var(--mb-16);
}
.button-news {
  background-color: var(--confirm-color);
  color: var(--text-color);
  font-weight: var(--font-medium);
  border-radius: 3rem;
  padding: 0.75rem 1.5rem;
}
/* INPUT */
.input {
  border: 1px solid var(--borda);
  margin: 0;
  padding: 0.625rem;
  background: none;
  color: var(--text-color);
  font-size: 0.75rem;
  height: 2rem;
  resize: none;
  border-radius: 0.75rem;
  outline: none;
  transition: border-color 0.3s;
}
.input:focus {
  border-color: var(--confirm-color);
}
.title__container {
  display: flex;
  justify-content: center;
}
.title__container h1 {
  text-align: right;
}
.form__container {
  display: grid;
  gap: 1rem;
}
.cadastro__link {
  justify-content: center;
  font-weight: var(--font-medium);
}
.cadastro__link a {
  text-align: center;
  color: var(--confirm-color);
}
